/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

#zoombox-overlay, #zoombox-overlay-temp {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999; }
  #zoombox-overlay > .zoombox-close-btn, #zoombox-overlay-temp > .zoombox-close-btn {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 30px;
    cursor: pointer;
    z-index: 10000;
    color: #333; }
  #zoombox-overlay > .zoombox-inner, #zoombox-overlay-temp > .zoombox-inner {
    overflow: hidden;
    margin: 15px;
    height: calc(100% - 30px);
    position: static; }
    @media (min-width: 768px) {
      #zoombox-overlay > .zoombox-inner, #zoombox-overlay-temp > .zoombox-inner {
        margin: 25px 50px;
        height: calc(100% - 50px); } }
    #zoombox-overlay > .zoombox-inner > .zoombox-image, #zoombox-overlay-temp > .zoombox-inner > .zoombox-image {
      max-width: 100%;
      height: auto; }
    #zoombox-overlay > .zoombox-inner .slick-slide, #zoombox-overlay-temp > .zoombox-inner .slick-slide {
      float: left;
      outline: none !important;
      margin: 5px; }
      #zoombox-overlay > .zoombox-inner .slick-slide .zoombox-image, #zoombox-overlay-temp > .zoombox-inner .slick-slide .zoombox-image {
        display: block;
        margin: 0 auto;
        max-width: calc(100vw - 50px);
        max-height: calc(100vh - 50px); }
        @media (min-width: 768px) {
          #zoombox-overlay > .zoombox-inner .slick-slide .zoombox-image, #zoombox-overlay-temp > .zoombox-inner .slick-slide .zoombox-image {
            max-width: calc(100vw - 150px);
            max-height: calc(100vh - 70px); } }
    #zoombox-overlay > .zoombox-inner .slick-arrow, #zoombox-overlay-temp > .zoombox-inner .slick-arrow {
      position: absolute;
      top: calc(50% - 25px);
      height: 50px;
      width: 40px;
      padding: 0;
      z-index: 1;
      background: none;
      border: none;
      outline: none;
      cursor: pointer; }
      #zoombox-overlay > .zoombox-inner .slick-arrow.slick-prev, #zoombox-overlay-temp > .zoombox-inner .slick-arrow.slick-prev {
        left: 0; }
      #zoombox-overlay > .zoombox-inner .slick-arrow.slick-next, #zoombox-overlay-temp > .zoombox-inner .slick-arrow.slick-next {
        right: 0; }
      #zoombox-overlay > .zoombox-inner .slick-arrow > svg, #zoombox-overlay-temp > .zoombox-inner .slick-arrow > svg {
        max-height: 100%;
        width: auto; }

.zoombox {
  cursor: pointer; }

.gallery {
  margin: 0 -15px; }
  .gallery .gallery-item {
    float: left;
    padding: 0 15px 30px; }
    .gallery .gallery-item img {
      width: 100%;
      height: auto; }
    .gallery .gallery-item figcaption .caption {
      display: block;
      width: 100%;
      text-align: center; }
  .gallery .clearfix {
    clear: both; }

#zoombox-overlay {
  background: rgba(255, 255, 255, 0.5); }
